* {
    margin: 0;    
    box-sizing:border-box;
}
body, html{
    height: 100%;
    overflow-x: hidden;
}

body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
    font-size: x-large;
}

header{
    background-color: beige;
    font-size: xx-large;
    font-weight: 900;
    color: firebrick;
    width: 100%;
}
main{
    flex: 1;
}

main h1, h2, h3 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    color: firebrick;
    font-weight: 600;

}

.imagens{
    display: flex;
    background-size: contain;
    justify-content: center;
    gap: 10px;
}


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: beige;
}

footer span{
    color: firebrick;
    font-weight: 700;
    
}

.link_no_footer{
    display: flex;
    align-items: center;
}




